body {
	font-family: Arial;
}

h1, h2, h3 {
	text-align: center;
}

#button1 {
	background-color: blue;
	border: none;
	border-radius: 15px;
	color: white;
	font-size: 20px;
	font-weight: bold;
	padding: 10px 20px;
}

.square-container {
	text-align: center;
	}

.square {
	background-color: blue;
	display: inline-block;
	height: 100px;
	width: 100px;
}